<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jcs.magazine">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name="com.jcs.magazine.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jcs.magazine.activity.StartPage"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--activity-->
        <activity
            android:name="com.jcs.magazine.activity.CommentPicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTheme"/>
        <activity
            android:name="com.jcs.magazine.activity.MomentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jcs.magazine.activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jcs.magazine.activity.ArticleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PrefaceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ArticleDetialActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.LoginActicity"
            android:screenOrientation="portrait"/>


        <!--umeng share-->

        <!-- wechat callback 加了这句话才能得到微博分享的回调-->-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <!--微博分享Activity-->
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>


        <!-- wechat callback 加了这句话才能得到微信分享的回调-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!--QQ的-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent100424468"/>
            </intent-filter>

        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <service android:name=".talk.MediaPlayerService"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="598c0d41677baa4e41000fce">
        </meta-data>
        <meta-data
            android:name="com.jcs.magazine.util.glide.MgzGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>
